/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  background-color: var(--primary-white-color--);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color--);
}
:root {
  --main-font: Roboto;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
}
/* WebStudio */
.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: #2196f3;
}
/* WebStudio */
.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #000000;
}
/* Студия */
.header-item-studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
/* Студия */
.header-item-studio:hover {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}
/* Портфолио */
.header-item-portfolio {
  position: absolute;
  width: 76px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
/* Портфолио */
.header-item-portfolio:hover {
  position: absolute;
  width: 76px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
/* Контакты */
.header-item-contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
/* Контакты */
.header-item-contacts:hover {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}
/* info@devstudio.com */
.header-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
/* info@devstudio.com */
.header-mail:hover {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}
/* +38 096 111 11 11 */
.header-phone {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
/* +38 096 111 11 11 */
.header-phone:hover {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}

/* Bg */
.unique-content {
}
/* Эффективные решения для вашего бизнеса */
.main-logo {
}

/* bg кнопка */
.main-button {
}
/* Внимание к деталям */
.hero-title-atention {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15x;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
.upper-title-atention {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Пунктуальность */
.hero-title-punctuality {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/* Задача организации, в особенности же рамки и место обучения кадров влечет за собой. */
.upper-title-punctuality {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}
/* Планирование */
.hero-title-planning {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/* Равным образом консультация с широким активом в значительной степени обуславливает. */
.upper-title-planning {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}
/* Современные технологии */
.hero-title-tehnology {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/* Значимость этих проблем настолько очевидна, что реализация плановых заданий. */
.upper-title-tehnology {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #757575;
}
/* Чем мы занимаемся */
.study-title {
  font-family: Roboto;
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/* img */
.study-item-image {
}
/* img1 */
.study-item-image1 {
}
.study-item-image2 {
}
/* Внимание к деталям */
.hero-title-atention {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;

  color: #212121;
}
/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
.upper-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
/* Section bg */
.about {
}
/* Наша команда */
.about-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.about-item-comand {
}
.about-imag1 {
}
/* img1 */
.about-title-igor {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  color: #212121;
}
/* Product Designer */
.about-upper-product {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;

  color: #757575;
}
/* img2 */
.about-item-block {
}
.about-imag2 {
}
.about-title-olga {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}
.about-upper-fronted {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
/* img3 */
.about-item-box {
}
.about-imag3 {
}
.about-title-nicolay {
  ont-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}
.about-upper-marketing {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
/* img4 */
.about-item {
}
.about-imag4 {
}
.about-title-mihail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}
.about-upper-designer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
/* Footer bg */
.footer {
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
/*----ПОРТФОЛИО----*/
