/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  background-color: var(--primary-white-color--);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color--);
}
:root {
  --main-font: Roboto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.header {
  font-family: Roboto;
}
/* WebStudio */
.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: #2196f3;
}
/* WebStudio */
.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #000000;
}
/* Студия */
.header-item-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
/* Студия */
.header-item-studio:hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}
/* Портфолио */
.header-item-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
/* Портфолио */
.header-item-portfolio:hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
/* Контакты */
.header-item-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
/* Контакты */
.header-item-contacts:hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}
/* info@devstudio.com */
.header-mail {
  color: #757575;
}
/* info@devstudio.com */
.header-mail:hover {
  color: #2196f3;
}
/* +38 096 111 11 11 */
.header-phone {
  color: #757575;
}
/* +38 096 111 11 11 */
.header-phone:hover {
  color: #2196f3;
}

/* Bg */
.unique-content {
  background-color: #2f303a;
}
/* Эффективные решения для вашего бизнеса */
.main-logo {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/* bg кнопка */
.main-button {
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.main-button:hover,
.main-button:focus {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
/* Внимание к деталям */
.hero-title-atention {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15x;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
.upper-title-atention {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Пунктуальность */
.hero-title-punctuality {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/* Задача организации, в особенности же рамки и место обучения кадров влечет за собой. */
.upper-title-punctuality {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}
/* Планирование */
.hero-title-planning {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/* Равным образом консультация с широким активом в значительной степени обуславливает. */
.upper-title-planning {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}
/* Современные технологии */
.hero-title-tehnology {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/* Значимость этих проблем настолько очевидна, что реализация плановых заданий. */
.upper-title-tehnology {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #757575;
}
/* Чем мы занимаемся */
.study-title {
  color: #212121;
}
/* img */
.study-item-image {
  width: 370px;
}
/* img1 */
.study-item-image1 {
  width: 370px;
}

.study-item-image2 {
  width: 370px;
}
/* Внимание к деталям */
.hero-title-atention {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;

  color: #212121;
}
/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
.upper-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
/* Section bg */
.about {
  width: 1600px;
}
/* Наша команда */
.about-text {
  font-family: Roboto;

  color: #212121;
}
.about-item-comand {
  width: 1170px;
}
.about-imag1 {
  width: 270px;
}
/* img1 */
.about-title-igor {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  color: #212121;
}
/* Product Designer */
.about-upper-product {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;

  color: #757575;
}
/* img2 */
.about-item-block {
  width: 270px;
}
.about-imag2 {
  width: 270px;
}
.about-title-olga {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}
.about-upper-fronted {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
/* img3 */
.about-item-box {
  width: 270px;
}
.about-imag3 {
  width: 270px;
}
.about-title-nicolay {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}
.about-upper-marketing {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
/* img4 */
.about-item {
  width: 270px;
}
.about-imag4 {
  width: 270px;
}
.about-title-mihail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}
.about-upper-designer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
/* Footer bg */
.footer {
  width: 1600px;
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.address {
  font-style: normal;
}
/*----ПОРТФОЛИО----*/
/* КНОПКИ*/
.header-list {
  font-family: Roboto;
}
.button-all {
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.button-all:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.button-web {
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.button-web:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.button-app {
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.button-app:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.button-design {
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.button-design:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.button-marketing {
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.button-marketing:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*Блоки*/
/*BLOK 1*/
.main-content-one {
  width: 370px;
  background: #ffffff;
}
.image-one {
  width: 370px;
}
.paragraph-one {
  color: #212121;
}
.title-one {
  color: #757575;
}
/*BLOK 2*/
.main-content-two {
  width: 370px;
}
.image-two {
  width: 370px;
}
.paragraph-two {
  color: #212121;
}
.title-two {
  color: #757575;
}
/*BLOK 3*/
.main-content-tree {
  width: 370px;
}
.image-tree {
  width: 370px;
}
.paragraph-tree {
  color: #212121;
}
.title-tree {
  color: #757575;
}
/*BLOK 4*/
.main-content-four {
  width: 370px;
}
.image-four {
  width: 370px;
}
.paragraph-four {
  color: #212121;
}
.title-four {
  color: #757575;
}
/*BLOK 5*/
.main-content-five {
  width: 370px;
}
.image-five {
  width: 370px;
}
.paragraph-five {
  color: #212121;
}
.title-five {
  color: #757575;
}
/*BLOK 6*/
.main-content-six {
  width: 370px;
}
.image-six {
  width: 370px;
}
.paragraph-six {
  color: #212121;
}
.title-six {
  color: #757575;
}
/*BLOK 7*/
.main-content-seven {
  width: 370px;
}
.image-seven {
  width: 370px;
}
.paragraph-seven {
  color: #212121;
}
.title-seven {
  color: #757575;
}
/*BLOK 8*/
.main-content-eight {
  width: 370px;
}
.image-eight {
  width: 370px;
}
.title-eight {
  color: #757575;
}
.paragraph-eight {
  color: #212121;
}
/*BLOK 9*/
.main-content-nine {
  width: 370px;
}
.image-nine {
  width: 370px;
}
.paragraph-nine {
  color: #212121;
}
.title-nine {
  color: #757575;
}
